html {
  height: 100%; }
  html body {
    height: 100%; }
    html body nav a.navbar-brand {
      line-height: 1; }
      html body nav a.navbar-brand small.font-weight-bold {
        color: #aeaeae !important; }
    html body nav i.fas {
      color: white; }
      html body nav i.fas.fa-moon {
        color: #666; }
    html body nav #theme-toggler {
      display: block;
      margin-right: 0;
      width: 50px;
      outline: none;
      box-shadow: none; }
      @media (min-width: 768px) {
        html body nav #theme-toggler {
          display: unset; } }
    html body .hero-img-wrapper {
      padding: 5px;
      background-image: url("../../images/wdm-full-size-pwo.jpg");
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      transition: all .3s ease-in-out; }
      @media (min-width: 678px) {
        html body .hero-img-wrapper {
          width: 250px;
          height: 250px;
          max-width: 250px; } }
    html body .contact-info a {
      text-align: center;
      color: orange; }
    html body #home-wave {
      height: 150px;
      overflow: hidden;
      left: 0px;
      bottom: -150px; }
      html body #home-wave svg > path {
        fill: var(--secondary); }
    html body #About .about-img {
      background-image: url("../../images/wdm.jpg");
      width: 250px;
      height: 250px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      border: 0.5rem solid var(--secondary);
      border-radius: 15px;
      transition: all .3s ease-in-out; }
      @media (min-width: 991px) {
        html body #About .about-img {
          width: 300px;
          height: 300px; } }
    html body #Experience .card {
      background-color: #989898b0;
      border-radius: 5px;
      width: 80%;
      margin: 0 auto; }
      html body #Experience .card .card-subtitle {
        color: #505050 !important;
        font-weight: 800; }
    html body #Experience ul.job-highlights {
      list-style-position: inside;
      list-style-image: initial;
      list-style-type: circle; }
      html body #Experience ul.job-highlights li {
        margin: 5px;
        line-height: 1.5rem;
        max-width: 85%; }
    html body #Skills .tech-subgroup ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around; }
      html body #Skills .tech-subgroup ul li {
        width: 72px;
        height: 72px;
        padding: 3px 5px;
        margin: 5px;
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: column;
        border-radius: 5px; }
        html body #Skills .tech-subgroup ul li:hover {
          background-color: rgba(66, 66, 66, 0.514); }
        html body #Skills .tech-subgroup ul li i {
          text-align: center;
          font-size: 1.5rem; }
