html {
  height: 100%; }
  html body {
    height: 100%; }
    html body nav a.navbar-brand {
      line-height: 1; }
    html body nav i.fas {
      color: white; }
      html body nav i.fas.fa-moon {
        color: #666; }
    html body nav #theme-toggler {
      display: block;
      margin-right: 0;
      width: 50px;
      outline: none;
      box-shadow: none; }
      @media (min-width: 768px) {
        html body nav #theme-toggler {
          display: unset; } }
    html body .hero-img-wrapper {
      padding: 5px;
      background-image: url("../../images/wdm-full-size-pwo.jpg");
      border-radius: 50%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      transition: all .3s ease-in-out; }
      @media (min-width: 678px) {
        html body .hero-img-wrapper {
          width: 250px;
          height: 250px;
          max-width: 250px; } }
    html body .contact-info a {
      text-align: center;
      color: orange; }
    html body #home-wave {
      height: 150px;
      overflow: hidden;
      left: 0px; }
      html body #home-wave svg > path {
        fill: var(--secondary); }
